language: c
os:
  - linux

dist: jammy

if: NOT tag = stable

addons:
  apt:
    packages:
    - lcov
    - libcjson-dev

before_install:
    - if [ "$TRAVIS_OS_NAME" = "linux" ] ; then ./.travis_install_linux.sh ; fi

script:
    - cd src
    # Separate coverage for unittest to Codecov
    - make COVERAGE=--coverage unit
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        bash <(curl -s https://codecov.io/bash) -X gcovout ;
      fi
    # Now reset coverage and run everything
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        lcov -q -z -d . ;
      fi
    - make ci                   # = unit, build & test (even slow)
    - cd ..
    - src/c-xref -about

branches:
    except:
        - stable
        - gh_pages
        - previous_stable

after_success:
    - if [ "$TRAVIS_OS_NAME" = "linux" ] ; then
        ./.travis_after_success_linux.sh ;
      fi
