c-xref
c-xref.exe
.c-xrefrc
*.output
tmp-*.g.[hc]
*.backup
.objects
tmp-*.g
coverage.info
coverage
doxygen
*_parser.tokens
*.gcov
*_parser.rules
c_rules*.txt
*.tmp
yacc_parser.head
yacc_parser.tail
.unittests.done
options_config.h
.cache
latex
.cgreen-debug-commands
